<html>
    <body>

        <br>
<div class="container">
    <br>
<form #WithdrawForm="ngForm" class="funds-container">
    <p><input type="text" [(ngModel)]="id" #idRef='ngModel' name="id" id="id" placeholder="ID" required></p>
    <div *ngIf="idRef.invalid && (idRef.touched || idRef.dirty)">
        <p *ngIf="idRef.errors?.['required']">ID is required, cant be blank.</p>
    </div>
    <p><input type="number" [(ngModel)]="amount" #balanceRef="ngModel" name="amount" id="amount" placeholder="Amount" required></p>
    <div *ngIf="balanceRef.invalid && (balanceRef.touched || balanceRef.dirty)">
        <p *ngIf="balanceRef.errors?.['required']">Name is required, cant be blank.</p>
    </div>
    <p><input type="submit" class="btn btn-secondary" value="Withdraw" (click) = "onSubmit(id,amount)" [disabled]="!WithdrawForm.valid"></p>
<br>    
</form>       </div>
      </body>
          </html>
